<nav>
  <div id="div-container" class="container mx-auto">
    <span class=" " id="span"> Proyecto Entrevista Musimundo </span>
    <button class="inline-flex  bg-gray-200  py-1 px-3 hover:bg-gray-300 rounded   md:mt-0">Iniciar
      Sesion</button>
  </div>
</nav>

<div class="left-panel">
  <ul>
    <a routerLink="agregar-sala" class="mr-5 hover:text-gray-900">
      <li>Agregar Sala</li>
    </a>
    <a routerLink="listar-sala" class="mr-5 hover:text-gray-900">
      <li>Lista de Salas</li>
    </a>
    <a routerLink="modificar-sala" class="mr-5 hover:text-gray-900 ">
      <li>Modificar Sala</li>
    </a>
  </ul>
</div>
