footer {
  bottom: 8%;
  position: absolute;
  width: 100%;
  height: 40px;
  background: transparent;
}
#linkedin {
  background: transparent;
  color: black;
}

#linkedin a {
  color: black;
}
#iconos svg {
  background: transparent;
}
